.cards__item {
    width: 460px;
    height: 100%;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    float: left;
    position: relative;
}

.cards__item-text {
    margin: 0;
    line-height: 1.3;
    position: absolute;
    left: 230px;
    top: 145px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
    max-height: 80%;
    overflow: auto;
    font-size: 22px;
}

.cards__item-text::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.cards__item-text { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.cards__item-text { overflow: -moz-scrollbars-none; }

.cards__delete {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: rgba(174, 0, 0, 0.4);
    cursor: pointer;
}

.cards__delete_hidden {
    display: none;
}

.cards__flip {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    color: lightgrey;
}

@media (max-width: 500px) {
    .cards__item {
        width: 80vw;
        margin-left: 5vw;
        margin-right: 5vw;
        border-radius: 10px;
        box-shadow: 0px 7px 28px rgba(0, 0, 0, 0.1);
    }
    
    .cards__item-text {
        left: 40vw;
        top: 100px;
        font-size: 17px;
    }
    
    .cards__delete {
        bottom: 20px;
        right: 20px;
        font-size: 22px;
    }

    .cards__flip {
        top: 20px;
        left: 20px;
        font-size: 20px;
    }
}