.container__header {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    color: var(--darkgray);
}

.container__header_seagreen {
    color: var(--seagreen);
}

.moon {
    margin-left: 20px;
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .container__header {
        font-size: 30px;
    }
}