:root {
    --add-icon-size: 35px;
    --fs: 20px;
}

.menu {
    position: fixed;
    z-index: 100;
    top: 40px;
    left: -30px;

    width: 330px;
    height: max-content;

    padding-top: 70px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    background-color: var(--white);
    transition-property: left, width, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    font-size: var(--fs);
}

@media (max-width: 500px) {
    .menu {
        position: absolute;
        top: 0;
        left: -60px;
        padding-top: 50px;
    }
}

.menu_hidden {
    left: -500px;
}

.menu__theme {
    margin-left: 60px;
    height: 65px;
    display: flex;
    align-items: center;
}

.theme {
    font-size: var(--fs);
    opacity: 0.7;
    cursor: pointer;
}

.theme_chosen {
    font-size: 1.1em;
    opacity: 1;
}

.theme__name {
    display: inline-block;
    margin: 0 20px 0 0;
    color: var(--seagreen);
    width: 200px;
    font-family: 'Noto Sans';
    transition: font-size .1s ease-in-out;
    word-wrap: break-word;
}

.theme__del {
    display: none;
}

.theme_chosen > .theme__del {
    display: initial;
    margin-right: 20px;
    color: var(--lightred);
}

.theme_chosen > .theme__del_hidden {
    display: none;
}

.menu__add {
    margin: 20px 20px 30px 60px;
}

.menu__add-icon {
    display: inline-block;
    margin: 0;
    width: var(--add-icon-size);
    height: var(--add-icon-size);
    color: var(--seagreen);
    font-weight: 400;
    border: 2px solid var(--seagreen);
    border-radius: 10px;
    font-size: var(--add-icon-size);
    line-height: var(--add-icon-size);
    text-align: center;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.menu__add-icon_red {
    color: var(--lightred);
}

.menu__add-input {
    margin-left: 10px;
    color: var(--lightred);
    border: none;
    border-bottom: 2px solid var(--seagreen);
    outline: none;
    font-size: 1em;
    width: 0;
    font-family: 'Noto Sans';
    transition: width .3s ease-in-out;
    background-color: transparent;
}

.menu__add-input_show {
    width: 200px;
}

@media (max-width: 500px) {
    :root {
        --add-icon-size: 30px;
        --fs: 17px;
    }

    .menu {
        margin-top: -10px;
        width: 300px;
    }

    .menu__theme {
        margin-left: 78px;
        margin-top: 0;
        height: 55px;
    }

    .theme__name {
        width: 190px;
    }

    .menu__add {
        margin-left: 80px;
    }

    .menu__add-input_show {
        width: 150px;
    }
}
