:root {
    --auth-width: 270px;
}

@media (max-width: 500px) {
    :root {
        --auth-width: 250px;
    }
}

.auth {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);

    width: max-content;
    padding: 20px 30px 30px;

    /* background-color: white; */
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: var(--shadow);
    font-size: 20px;
    font-family: 'Noto Sans';

    transition-property: transform, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.auth_hidden {
    transform: translate(-50%, -50%) scaleY(0);
}

.auth__title {
    width: max-content;
    margin: 0 auto 0 auto;

    /* font-family: 'Noto Sans'; */
    font-size: 1.25em;
    color: var(--red);
}

.auth__info-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    border: 2px solid var(--seagreen);
    background-color: transparent;
    color: var(--seagreen);
    font-family: inherit;
    cursor: pointer;
    outline: none;
    z-index: 100;
}

.auth__info-text {
    position: absolute;
    max-width: 200px;
    background-color: var(--seagreen);
    color: var(--lightgray);
    font-family: 'Roboto';
    right: 37px;
    padding: 10px;
    font-size: .8em;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    opacity: 0;
    transform: rotate(-45deg);
    bottom: 97%;
    transition-property: opacity, transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.auth__info-text::after {
    border: 5px solid transparent;
    border-top: 5px solid var(--seagreen);
    border-right: 5px solid var(--seagreen);
    position: absolute;
    right: 0;
    bottom: -7px;
    content: '';
}

.auth__info-text_show {
    transform: rotate(0);
    opacity: 1;
}

.auth__form {
    margin: auto;
    font-family: 'Roboto';
    font-weight: 400;
    width: var(--auth-width);
}

@media (max-width: 500px) {
    .auth {
        font-size: 18px;
    }

    .auth__input {
        width: 180px;
    }
}