.cards {
    --item-height: 350px;
}

.cards {
    position: relative;
    margin-top: 10px;
}

.cards__container {
    width: var(--cards-container-width);
    height: calc(var(--item-height) + 60px);
    margin: auto;
    overflow: hidden;
    position: relative;
}

.cards__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;
    height: var(--item-height);
    margin-left: 0;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(1);
    transition-property: margin-left, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.cards__list_hidden {
    transform: translateY(-50%) scaleY(0);
}

.cards__arrow {
    position: absolute;
    /* top: 130px; */
    top: calc(var(--item-height) / 2 + 10px);
    color: var(--darkgray);
    font-size: 30px;
    line-height: 1.3em;
    cursor: pointer;
}
.cards__arrow_hidden {
    visibility: hidden;
}
.arrow__right {
    right: 0;
}
.arrow__left {
    left: 0;
}

.cards__counter {
    color: var(--darkgray);
    text-align: center;
    margin: 0;
    font-size: .9em;
    height: 40px;
    line-height: 40px;
}

.cards__counter span {
    display: inline-block;
    width: 40px;
}

.counter__input {
    width: 40px;
    height: 40px;
    outline: none;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--darkgray);
    border-radius: 0;
    text-align: center;
}

.counter__input_wrong {
    border-bottom-color: lightcoral;
}

.cards__clear {
    margin-top: 60px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--red);
    color: var(--red);
    outline: none;
    padding: 0 20px;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .cards__container {
        width: 90vw;
        height: 260px;
    }
    
    .cards__list {
        height: 200px;
    }
    
    .cards__arrow {
        display: none;
    }
    
    .cards__counter {
        font-size: 20px;
        text-align: center;
        margin: 0;
        height: 30px;
    }

    .counter__input {
        height: 30px;
        width: 40px;
    }

    .cards__clear {
        margin-top: 40px;
        margin-left: 5vw;
        height: 40px;
        border-width: 1px;
        padding: 0 10px;
        font-size: 17px;
    }
}