.cards {
    position: relative;
    margin-top: 10px;
}

.cards__container {
    width: 500px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.cards__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;
    height: 290px;
    margin-left: 0;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition-property: margin-left, height;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.cards__arrow {
    position: absolute;
    top: 160px;
    color: var(--darkgray);
    font-size: 30px;
    cursor: pointer;
}
.cards__arrow_hidden {
    visibility: hidden;
}
.arrow__right {
    right: 0;
}
.arrow__left {
    left: 0;
}

.cards__counter {
    color: var(--darkgray);
    text-align: center;
    margin: 0;
}

.cards__clear {
    margin-top: 60px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--red);
    color: var(--red);
    outline: none;
    padding: 0 20px;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .cards__container {
        width: 90vw;
        height: 260px;
    }
    
    .cards__list {
        height: 200px;
    }
    
    .cards__arrow {
        display: none;
    }
    
    .cards__counter {
        font-size: 20px;
        text-align: center;
        margin: 0;
    }

    .cards__clear {
        margin-top: 40px;
        margin-left: 5vw;
        height: 40px;
        border-width: 1px;
        padding: 0 10px;
        font-size: 17px;
    }
}